<!DOCTYPE html>
<html lang="en">
<!--<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</head>-->

<head><% include head %></head>

<body class="container">

<main>
    <div class="row">
        <div class="col-sm-3">
            <h1>Welcome to templating using EJS</h1>
        </div>
        <div class="col-sm-9">
            <!--<ul>
                <% courses.forEach(function(item){ %>
                <li><%= item.title%></li>
                <% }) %>
            </ul>-->
            <% include courses/courses %>
        </div>
    </div>
</main>

<footer><% include footer %></footer>
</body>
</html>